<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIBRARY</title>
    <style>
        .box {
            width: 200px;
            height: 100px;
            border: 3px solid black;
            border-radius: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <a href="/setting">добавить книги</a> <br>
    {% for book in books%}
    <div class="box">
        <div>{{ book[1] }}</div>
        <div>{{ book[2] }}</div>
    </div>
    {% endfor %}



</body>
</html>